<h1><strong>{{titulo}}</strong></h1>
  
<div> <center><img src="/img/snake.gif" alt="snake" height="212x" width="320px"></center></div>

<p align="justify">Eis aqui uma cobra. Assuma seu controle, e coma o suficiente até não conseguir controlar mais sua trajetória.</p>
    <p align="justify">Tomando esta forma, alcance seu objetivo, neste trabalho de Programação Web, implementado através da linguagem JavaScript.</p>