body {
background-color: lightblue;
background-image: url(1.jpg);
background-size: 1920px 1080px;
background-repeat: no-repeat;
background-position: 0px 0px;
}

h1 { position: absolute; top: 65px; left: 85px;
}